@model EmployeeDetails


<h2>Employee in a company</h2>
<ul>
    <li>Full Name of employee: @Model.FullEmployeeName</li>
    <li>Position of employee: @Model.Position</li>
    <li>Date of Hire: @Model.DateOfHire</li>
    <li>Divison Name: @Model.DivisionName</li>
</ul>